body {
    margin:0;
    background:black;
    color:white;
    text-align:center;
    font-family:Arial;
}

.screen {
    display:none;
    height:100vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.active {
    display:flex;
}

button {
    padding:10px 20px;
    margin:10px;
    background:crimson;
    border:none;
    color:white;
}

img {
    width:250px;
    border-radius:10px;
}